header {
	background: black;
	
}

.main {
	background: ;
	color: black;
	
}

.color1 {
	background: black;
	
}

.color2 {
	background: #B0C4DE;
	color: black;
}

article {
	color:black;
	


}

footer {
	background: #2c3e50;
	color:#fff;
}

body{
	
}

.fondo-inicio{
	background-image: url("../img/fondo_inicio.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

.fondo-usuario{
	background-image: url("../img/fondo_usuario.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

.nav-item{
	padding-right: 10px;
}

.sin-margen{
	margin: 0px;
}

.padding-left-15{
	padding-left: 15px
}

.error{
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.3);
	background: #e83f3fc7;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin-top: -90px;
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	display: none;
}

.my-container{
	position: relative; 
	padding: 20px;
	min-height: 70%;
}

.my-footer{
	margin-top: 50px;
	width: 100%;
	min-height: 10%;
	bottom:0;
	padding-bottom:30px;
}

.logo{
	height: 80px;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.logo-alternativo{
	height: 60px;
	width: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

.font-bad{
	color: #6b1010;
	font-weight: bolder;
}

.icon-bad{
	font-size: 100px;
	color: #6b1010; 
}

.bad-notice{
	background-color: #e22626b0;
	padding: 20px;
}

.semitransparente{
	background-color: #ffffffb0;
	padding: 20px;
	color:black;

}

